.welcome-box {
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 0 100px 0 rgba(173, 42, 42, 0.2);
    transition: 0.3s;
}

.left-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 50%;
    /* Adjust the value to position the box vertically */
    transform: translateY(-50%);
    width: 800px;
    /* Adjust the width as needed */
    height: 100vh;
    /* Adjust the height as needed */
    background-color: #f0f0f0;
    /* Adjust the background color as needed */
    flex-direction: column;
    margin-bottom: 20px;
    /* Add spacing between the boxes */
}

.title {
    font-size: 180px;
    /* Adjust the font size as needed */
    color: #333;
    /* Adjust the text color as needed */
    margin: 0;
    /* Remove any default margin */
}

input[type="text"] {
    width: 400px;
    padding: 10px;
    /* Add padding */
    font-size: 16px;
    /* Set the font size */
}